footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #eee;
  border-top: solid 0.5px #ccc;
  padding: 5px 0; }
  footer .footer-wrapper {
    max-width: 1600px;
    padding: 0 20px;
    margin: 4px auto 0; }
